extends ../layout

block content
  .col-md-8.offset-md-2
    .card
      .card-header
        h3 Add a player
      form.card-body(method='POST', action="/api/players")
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group.row
          label(class='col-sm-2 control-label', for='name') Name
          .col-sm-10
            input.form-control(type='text', name='name', id='name', autofocus=true)
        .form-group.row
          label(class='col-sm-2 control-label', for='role') Lane
          .col-sm-10
            select.form-control(name='role', id='role')
              option(value="", selected)
              for role in roles
                option(value=role.value) #{role.name}
        .form-group.row
          label(class='col-sm-2 control-label', for='country') Country
          .col-sm-10
            select.form-control(name='country', id='country')
              for country in countries
                option(value=country.value) #{country.name}
        .form-group.row
          label(class='col-sm-2 control-label', for='picture') Picture
          .col-sm-10
            input.form-control(type='text', name='picture', id='picture', accept='image/*')
        .form-group.row
          label.col-sm-2.control-label(for="team-league") Team
          .col.sm-5
            select.form-control(name="team-league", id="team-league", onchange="getLeagueTeams(event, value)")
              option(value="", disabled, selected)
              for league in leagues
                option(value=league.id) #{league.name}
          .col.sm-5
            select#teamNames.form-control(name="team")
              option(value="", selected, disabled)
        .form-group.row
          .col
            .float-right
              button.btn.btn-primary(type='submit')
                i.fa.fa-envelope
                | Save
